@mixin destaque-btn {
    border: 0.5px solid $cor-preta;
    border-radius: 2px;
    margin: 0.1em 1em 0 0;
    &:hover{
        text-decoration: underline;
        font-size: 0.6em;
        font-weight: bold;
        transition: 0.4s ease;
    }

}

@mixin btn-fale-conosco{
    color: $cor-branca;
    background-color: $cor-destaque;
    padding: 0.5em 1.5em;
    border-radius: 3px;
    border: none;
    
    &:hover{
        text-decoration: underline;
        font-weight: bold;
        transition: 0.4s ease;
        font-size: 1.1em;
    }
}

@mixin svg-icon {
    align-items: center;
    width: 2em;
    height: 2em;
    padding: 1em;
    color: $cor-branca;
}

@mixin footer-align {
    display: flex;
    width: 50%;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
}
