//cores
$cor-destaque: #AB8A3C;
$cor-preta: #000;
$cor-branca: #fff;
$cor-texto: #443f3f;
$cor-fundo: #EFF1F2;
$cor-sobreposicao: rgba(0,0,0,0.5);
$cor-fundo-mobile-menu: rgba(#e7e7e7e5, 0.98);

//medias query
$mq_tablet: "(max-width: 760px)";
$mq-mobile: "(max-width: 500px)";
