@import 'base/normalize.scss';
@import 'helpers/variaveis';
@import 'helpers/mixins.scss';
@import 'layout/header.scss';
@import 'layout/destaque.scss';
@import 'layout/sobre.scss';
@import 'layout/fale-conosco.scss';

body, ul{
    margin: 0%;
}

a{
    color: $cor-texto;
    text-decoration: none;
}
