.blog{
    background-color: $cor-fundo;
    padding: 3% 0 3% 3%;
}

.carousel-slider { 
    display: flex;
    gap: 0.5em;
    --carousel-slider-width: 90%;
    --carousel-slider-height: 80px;
    --carousel-slider-navigation-color: #fff;
    --carousel-slider-pagination-color: #fff;
    padding: 4%;
    margin-right: 5%;
    
}

.carousel-slider {
    --swiper-navigation-color: var(--carousel-slider-navigation-color);
    --swiper-pagination-color: var(--carousel-slider-pagination-color);
    --swiper-pagination-bullet-inactive-color: var( --carousel-slider-pagination-color );
    position: relative;
    width: var(--carousel-slider-max-width);
    margin: 0 auto;
    max-width: 100%;
    overflow: hidden;
}

carousel-slider-animate-opacity{
    display: flex;
    gap: 0.7em;
}


.card{
    margin: 2%;
    display: flex;
    flex-direction: column;
    width: 96%;
    height: auto;
    background-color: $cor-branca;
    .card-image{
        text-align: center;
        img{
            width: 100%;
        }
    } 
    .card-conteudo{
        width: 90%;
        padding-left: 1em;
    }
    
}

.swiper-button-next, .swiper-button-prev {
    background-color: $cor-destaque;
    margin-right: 2em;

    @media (max-width: 800px){
        display: none;
    }
}

