.destaque{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.destaque-texto {
    width: 35%;
    padding-left: 5em;

    a{
        font: normal normal 800 25px/37px Montserrat;
        color: $cor-destaque;
        text-decoration: underline 2px $cor-destaque;

        .destaque-fale-conosco{
            background-color: $cor-preta;
            color: $cor-branca;
            @include destaque-btn;
            padding: 0.1em 1.5em;
        }
        .destaque-saiba-mais{
            @include destaque-btn;
            padding: 0.1em 2.5em;
            color: $cor-preta;
        }
    }
}

.destaque-imagem{
    width: 50%;
    .destaque-foto{
        width: 100%;
    }
}

@media #{$mq_tablet}{
    .destaque{
        display: block;
        align-items: center;
    } 

    .destaque-texto{
        width: 100%;
        align-items: center;
        padding-left: 1em;
    }
    
    .destaque-imagem{
        width: 100%;
        margin-top: 5%;
    }

}

@media #{$mq-mobile}{
    .destaque-fale-conosco, .destaque-saiba-mais{
        width: 95%;
        margin-right: 5%;
        margin-top: 6px;
        padding: 1em;
    }
}